absl-py==0.8.1
astor==0.8.0
backports.functools-lru-cache==1.6.1
backports.weakref==1.0.post1
certifi==2017.7.27.1
chardet==3.0.4
Cheetah==2.4.4
cliapp==1.20160109
Click==7.0
cloud-init==0.7.6
cloudpickle==1.2.2
cmake==3.15.3
configobj==5.0.6
cycler==0.10.0
decorator==4.4.1
dlib==19.18.0
enum34==1.1.6
Flask==1.1.1
funcsigs==1.0.2
futures==3.3.0
gast==0.3.2
grpcio==1.25.0
gyp==0.1
idna==2.6
imutils==0.5.3
itsdangerous==1.1.0
Jinja2==2.10.3
jsonpatch==1.16
jsonpointer==1.10
kiwisolver==1.1.0
Markdown==2.6.8
MarkupSafe==1.0
matplotlib==2.2.2
meld3==1.0.2
mock==3.0.5
networkx==2.2
numpy==1.11.1
oauth==1.0.1
opencv-python==3.1.0.0
Pillow==6.2.1
prettytable==0.7.2
protobuf==3.10.0
Pygments==2.1
pyparsing==2.4.5
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==0.5.0
PyYAML==3.12
requests==2.18.4
scikit-image==0.14.5
scipy==0.18.0
six==1.10.0
subprocess32==3.5.4
supervisor==3.2.0
tensorboard==1.10.0
tensorflow==1.15.0
termcolor==1.1.0
ttystatus==0.32
urllib3==1.22
uWSGI==2.0.18
virtualenv==16.7.7
Werkzeug==0.16.0
